.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modalContainer{
    z-index: 86;
    width: 60%;
    background-color: white;
    height: 37em;
    position: absolute;
    top: 117%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3em;
    color: #303030;
    box-shadow: 0px 3px 10px 0px #303030;
    visibility: hidden;
    height: auto;
}

.btnClose{
  margin-left: 90%;
  margin-top: 2%;
  border-radius: 50%;
  font-size: larger;
  border: none;
  width: 40px;
  height: 40px;
  font-weight: unset;
  text-align-last: center;
  background-color: #6D2718;
  color: white;
  cursor: pointer;
}

#modalCreateNews #info{
  text-align: -webkit-center;
}

#modalCreateNews #info h1{
    margin-top: 0;
    margin-bottom: 1em;
}

#modalCreateNews #info #info1{
  display: inline-flex;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  place-content: space-between;
}

#modalUpdateNews #info{
  text-align: -webkit-center;
}

#modalUpdateNews #info h1{
    margin-top: 0;
    margin-bottom: 1em;
}

#modalUpdateNews #info #info1{
  display: inline-flex;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  place-content: space-between;
}

.btnSave{
  background-color: #324D51;
  border: none;
  color: white;
  padding: 14px 45px;
  text-align: center;
  font-size: 20px;
  border-radius: 1.2em;
  box-shadow: 2px 2px 5px grey;
  margin-bottom: 20px;
  cursor: pointer;
}

 input{
  width: 45%;
	height: 3.2em;
	border-radius: 8px;
  border: solid;
  border-width: thin;
	border-color: #646566;
	color: #202945;
	margin-bottom: 3em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 0 0 0 1em;
  font-size: 16px;
}

#modalCreateNews #info #info1 #newsImage{
  margin-left: 5%;
}

#modalUpdateNews #info #info1 #newsImage{
  margin-left: 5%;
}

 textarea{
  width: 85%;
	height: 25em;
	border-radius: 8px;
  border: solid;
  border-width: thin;
	border-color: #646566;
	color: #202945;
	margin-bottom: 1em;
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 16px;
  font-family: sans-serif;
  padding-top: 1em;
}

.loginContainer input{
  width: 20em;
	height: 3.2em;
	border-radius: 8px;
  border: solid;
  border-width: thin;
	border-color: #646566;
	color: #202945;
	margin-bottom: 3em;
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 16px;
}

.loginContainer {
  margin-top: 5em;
}

.loginContainer img{
  width: 25%;
  user-select: none;
}

.loginContainer .inputs{
  margin-top: 5em;
  text-align: -webkit-center;
}

.loginContainer button{
  margin-top: 2em;
  background-color: #324D51;
  border: none;
  color: white;
  padding: 14px 45px;
  text-align: center;
  font-size: 20px;
  border-radius: 1.2em;
  box-shadow: 2px 2px 5px grey;
  cursor: pointer;
  font-weight: 500;
}

/**/

.homeContainer .logoHomeAdmin{
  margin-top: 3em;
  margin-bottom: 3em;
  width: 290px;
  height: 120px;
  user-select: none;
}

.homeContainer .section{
  margin-top: 3em;
  margin-bottom: 2em;
}

.homeContainer .title{
  width: 50em;
  height: 4.5em;

  background-color: #401709;
  color: white;
  text-align: center;
  line-height: 4.5em;
  border-radius: 20px;
  margin: auto;
}


.homeContainer .buttonContainer{
  width: 50%;
  margin-top: 7em;
  margin-bottom: 10em;
  display: flex;
  justify-content: space-around;
  top: 50%;
  left: 50%;
  transform: translate(50%, -20%);
}

.homeContainer .button{
  width: 7em;
  height: 7em;
  background-image: linear-gradient(#324D51,#4D7070);
  color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px grey;
  cursor: pointer;
  display: inline-block;
}

.homeContainer .buttonName{
  margin-left: 2px;
  margin-top: 14px;
  width: 6em;
  height: 2.3em;
  color: white;
  border-radius: 20px;
  font-size: large;
  line-height: 2.3em;
}

.homeContainer .buttonName p{
  margin: 0;
}

.homeContainer .buttonIcon{
  margin-top: 20px;
  width: 2em;
  height: 2em;
  user-select: none;
}

.homeContainer .buttonIcon2{
  margin-top: 20px;
  width: 2em;
  height: 2em;
  margin-left: 10px;
  user-select: none;
}

.descriptionTable{
  width: 40%;
  height: 5em;
  overflow-y: auto;
  display: -webkit-box;
  text-align: justify;
  padding: 13px;

}
.idTable{
  width: 5%;
  height: 5em;
  padding: 13px;
  text-align: center;

}

.tableNews .labels{
    border-bottom: solid;
    border-color: #324D51;
    padding-bottom: 1em;
    padding-top: 1em;
    justify-content: start;
}

.tableNews tr{
  width: 100%;
  display: inline-flex;
  border-bottom: solid;
  border-width: 1px;
  border-color: silver;

}
.tableNews tr th{
  margin-left: 1em;
}

.titleTable{
  width: 20%;
  height: 5em;
  overflow-y: auto;
  display: -webkit-box;
  text-align: justify;
  padding: 13px;
}

.imageTable{
  width: 20%;
  height: 5em;
  overflow-y: auto;
  display: -webkit-box;
  text-align: justify;
  padding: 13px;
}

.table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    font-size: 1em;
    border: solid;
    padding: -2em;
    border-width: 1px;
    border-color: silver;
    border-radius: 1em;
    display: inline-block;
    margin-bottom: 3em;
    height: 38em;
    overflow-y: auto;
}

#modalCreateEvents{
  z-index: 91;
  top: 50%;
}

#modalCreateEvents #info{
  text-align: -webkit-center;
}

#modalCreateEvents #info h1{
    margin-top: 0;
    margin-bottom: 1em;
}

#modalCreateEvents #info #info1{
  display: inline-flex;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  place-content: space-between;
}

#modalCreateEvents #info #info1 #newsImage{
  margin-left: 5%;
}
#modalCreateEvents textarea{
  width: 85%;
 height: 15em;
 border-radius: 8px;
  border: solid;
  border-width: thin;
 border-color: #646566;
 color: #202945;
 margin-bottom: 1em;
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 16px;
  font-family: sans-serif;
  padding-top: 1em;
}

#modalUpdateEvents #info{
  text-align: -webkit-center;
}

#modalUpdateEvents #info h1{
    margin-top: 0;
    margin-bottom: 1em;
}

#modalUpdateEvents #info #info1{
  display: inline-flex;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  place-content: space-between;
}

#modalUpdateEvents #info #info1 #newsImage{
  margin-left: 5%;
}

.tableEvent .labels{
  border-bottom: solid;
  border-color: #324D51;
  padding-bottom: 1em;
  padding-top: 1em;
  justify-content: start;
}

.tableEvent tr{
width: 100%;
display: inline-flex;
border-bottom: solid;
border-width: 1px;
border-color: silver;

}


.titleTable{
width: 20%;
height: 5em;
overflow-y: auto;
display: -webkit-box;
text-align: justify;
padding: 13px;
}

.descriptionTableEvent{
  width: 35%;
  height: 5em;
  overflow-y: auto;
  display: -webkit-box;
  text-align: justify;
  padding: 13px;

}

.dateTable{
  width: 10%;
  height: 5em;
  padding: 13px;
  text-align: center;
}

.hourTable{
  width: 10%;
  height: 5em;
  padding: 13px;
  text-align: center;
}

